.banner__imagem {
  background-image: url('../../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 120px);
  width: 100%;
}
